// Colors:
$white: #ffffff;
$white-muted: #dddddd;
$white-light: #f1f1f1;
$orange: #f26b38;
$black: #141414;
$black-light: #363636;
$gray-super-light: #999999;
$yellow: #f8e15a;
$navy: #0000e3;

// Font-size:
$normal: 13px;
$big-normal: 15px;
$super-large: 60px;
$large: 50px;
$small: 40px;
$little: 11px;


// Sizes:
$max-width-content: 900px;
